<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thống kê bài báo khoa học</title>
    <link rel="stylesheet" th:href="@{/css/thongkeNKH.css}" />
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div th:insert="fragments/sidebar :: sidebar"></div>
        <!-- Main content -->
        <main class="main">
            <h1>Cơ sở dữ liệu Khoa học Công nghệ</h1>
            <div th:insert="fragments/banner :: banner"></div>
            <div class="article-page">
                <div class="article-header">
                    <h2>THỐNG KÊ SÁCH VÀ GIÁO TRÌNH</h2>
                    <div class="underline"></div>
                </div>
                <table id="table-tong-hop">
                    <thead>
                        <tr>
                            <th></th>
                            <th th:each="loaiSach : ${T(Nhom2.DoAnWeb.NTUScientistInfor.model.SachEntity$LoaiSach).values()}" 
                                th:text="${loaiSach.toString().replace('_', ' ')}"></th>
                            <th>Tổng cộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Số lượng</td>
                            <td th:each="loaiSach : ${T(Nhom2.DoAnWeb.NTUScientistInfor.model.SachEntity$LoaiSach).values()}" 
                                th:text="${thongKeSach[loaiSach.toString()] ?: '-'}"></td>
                            <td th:text="${totalSach}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>


    </div>
    <div th:insert="fragments/footer :: footer"></div>

</body>

</html>