<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - CSDL KHCN</title>
    <link rel="stylesheet" th:href="@{/css/trangchu.css}" />
    <style>
		.banner img{
		display: none;}
	</style>
</head>

<body>
    <div class="container">
        <!-- sidebar -->
        <div th:insert="fragments/sidebar :: sidebar"></div>
        
        <!-- Main content -->
        <main class="main">
            <h1>Cơ sở dữ liệu Khoa học Công nghệ</h1>
            <div th:replace="fragments/banner :: banner"></div>
			<img alt="" src="/image/banner2.jpg" style="width: 100%">
            <div class="charts">
                <div class="chart">
                    <h2>Giới thiệu tổng quan</h2>

                    <p>
                        <br>Tiền thân của Khoa Công nghệ Thông tin Trường Đại Học Nha Trang là bộ môn Tin học. Năm 1993,
                        ngành Công nghệ Thông tin được đào tạo tại Trường Đại Học Nha Trang với sự liên kết đào tạo giữa
                        Trường Đại Học Nha Trang và Trường Đại Học Bách Khoa Hà Nội. Sự liên kết này đã tạo điều kiện
                        thúc đẩy công tác đào tạo ngành Công nghệ thông tin Trường Đại Học Nha Trang phát triển.
                        <br>
                        <br>Với sự phát triển nhanh của công nghệ thông tin trong cả nước, năm 2000 Bộ Giáo dục & Đào
                        tạo
                        cho phép Trường Đại Học Nha Trang độc lập đào tạo ngành Công nghệ Thông tin. Ngày 17/01/2003
                        Khoa Công nghệ thông tin được thành lập với 3 bộ môn: Khoa học máy tính, Hệ thống thông tin và
                        Công nghệ tri thức. Từ năm 2006, Khoa Công nghệ Thông tin có 4 bộ môn: Khoa học máy tính, Hệ
                        thống thông tin, Mạng máy tính & truyền thông và Kỹ thuật phần mềm. Đầu tháng 11/2011, Bộ môn
                        Khoa học máy tính sát nhập vào Bộ môn Kỹ thuật phần mềm; Khoa tiếp nhận Bộ môn Toán từ Khoa khoa
                        học cơ bản. Cùng với vị thế ngày càng đi lên của Trường Đại học Nha Trang anh hùng, Khoa Công
                        nghệ Thông tin phát triển không ngừng trở thành cơ sở đào tạo Công nghệ thông tin uy tín trong
                        tỉnh Khánh Hòa và cả nước.
                        <br>

                    </p>
                </div>
                <div class="chart">
                    <h3></h3>
                    <img th:src="@{/image/20 nam thanh lap khoa cntt.jpg}" alt="">
                </div>
            </div>
            <div class="chart-contents">
                <div class="chart-content">
                    <img th:src="@{/image/khuan-vien-dh-nha-trang.JPG}" alt="">
                </div>
                <div class="chart-content">
                    <div class="news-container">
                        <h2 class="section-title">Tin tức - Thông báo</h2>

                        <div class="news-item">
                            <img th:src="@{/image/devices.jpg}" alt="Hướng dẫn" />
                            <div class="news-content">
                                <a href="">
                                    <p class="news-title">Hướng dẫn cập nhật thông tin cá nhân của nhà khoa học</p>
                                </a>
                            </div>
                        </div>

                        <div class="news-item">
                            <img th:src="@{/image/emsiv.png}" alt="Hướng dẫn" />
                            <div class="news-content">
                                <a href="">
                                    <p class="news-title">Hướng dẫn sử dụng Cơ sở dữ liệu khoa học Đại học Nha Trang</p>
                                </a>
                            </div>
                        </div>

                        <div class="news-item">
                            <img th:src="@{/image/ecogiv.png}" alt="Quy định" />
                            <div class="news-content">
                                <a href="">
                                    <p class="news-title">Quy định quản lý và sử dụng Cơ sở dữ liệu khoa học công nghệ
                                        Đại
                                        học Nha Trang</p>
                                </a>
                                <div class="news-time">📅 2018-03-13 14:31:50</div>
                            </div>
                        </div>

                        <div class="news-item">
                            <img th:src="@{/image/ecovip.png}" alt="Thông báo" />
                            <div class="news-content">
                                <a href="">
                                    <p class="news-title">Thông báo cập nhật dữ liệu khoa học công nghệ</p>
                                </a>
                                <div class="news-time">📅 2018-03-12 23:31:21</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
	<!-- Footer -->
	<div th:insert="fragments/footer :: footer"></div>
</body>

</html>