<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chính</title>
	<link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
    <div th:insert="fragments/header :: header"></div> <!-- Chèn Header Fragment -->

    <div class="content">
            <div class="main">NOI DUNG trang index</div>
            <aside>Side</aside>
        </div>
    <div th:insert="fragments/footer :: footer"></div> <!-- Chèn Header Fragment -->
    
</body>
</html>
