<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class ="container">
	    <div th:fragment="menu">
		  <ul class="nav justify-content-center bg-dark">
			  <li class="nav-item">
			    <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Home</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link text-white" th:href="@{/about}">About</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link text-white" th:href="@{/list}">List</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link text-white" th:href="@{/add}">Add</a>
			  </li>
			</ul>
	    </div>
    </div>
</body>
</html>
